<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iMRT Taipei.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>488F282B1D27AA5D006C3E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488F28421D27AA5E006C3E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488F284D1D27AA5E006C3E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
